{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <a class="nav-link new_nav_btn" href="{% url 'good_delete' good.pk %}">Delete<span class="sr-only">(current)</span></a>
        <a class="nav-link new_nav_btn" href="{% url 'good_edit' good.pk %}">Edit<span class="sr-only">(current)</span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
{% endblock %}
{% block title %}{{ good.name }}{% endblock %}
{% block content %}
    <h1 class="main_header"><b>{{ good.name}}</b></h1>
    <h1>Price: <b>{{ good.price}}</b></h1>
    <p>Category: <b>{{ good.category }}</b></p>
    <p>Left in Stock: <b>{{ good.stock }}</b></p>
    <p><br>{{ good.description|escape|linebreaks }}</p>
{% endblock %}